@import "tailwindcss";

:root {
  --bg-main: #f0f9f9; /* Fond principal en light mode */
  --card-bg: #e0f2f2; /* Cartes/sections en light mode */
  --text-main: #1f2937; /* Texte principal en light mode */
  --text-secondary: #6b7280; /* Texte secondaire en light mode */
  --accent: #14b8a6; /* Couleur d'accent */
}

html.dark {
  --bg-main: #1c1c1c; /* Fond principal en dark mode */
  --card-bg: #2d2d2d; /* Cartes/sections en dark mode */
  --text-main: #ffffff; /* Texte principal en dark mode */
  --text-secondary: #cccccc; /* Texte secondaire en dark mode */
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}
